@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,500&family=Press+Start+2P&family=Saira:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* textos 
titulo sec
font-family: 'EB Garamond', serif;

titulo pg
font-family: 'Press Start 2P', cursive;
corpo
font-family: 'Saira', sans-serif;
*/

/* .ParagraphHeader:hover {
    font-weight: 500;
} */
/* parallx pegar todos os backgorund e deixar fixos junots numa mesma tag */
header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/linhas-titulo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.TittleHeader {
    width: 90vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 4em;
    color: white;
}

#headerSubText {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    padding-top: 3rem;
    color: white;
}

.ParagraphHeader {
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 2rem;
    font-size: 0.7em;
    color: white;
    text-align: center;
}

.AudioHeader {
    margin-top: 1rem;
}

audio {
    width: 45vw;
    height: 4vh;
}

.audio {
    color: solid red;
}

main {
    background-color: rgba(121, 204, 196, 0.931);
}

#SecTittle-One {
    width: 100vw;
    height: 220vh;
    background-color: rgb(0, 0, 0);
    background-image: url("assets/foto-terra-titulo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.Tittle-One {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    font-size: 2.5em;
    width: 70vw;

}

.Paragraph-One {
    background-color: transparent;
    color: white;
    margin-right: 10rem;
}

.Text-One {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    width: 60vw;
    font-size: 1.5em;
    padding: 2rem 2rem 2rem 2rem;
    text-align: justify;
    color: white;
    background-color: transparent;
}

.SecTittle-Two {
    width: 100vw;
    height: 520vh;
    background-image: url("assets/jameswebb3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.Tittle-Two {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.4em;
    color: white;
    box-shadow: 1rem 0rem 3rem 0.1rem rgb(18, 18, 18);
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 30vh;
    flex-wrap: wrap;

}

.Paragraph-Two {
    width: 100vw;
    height: 200vh;
    display: flex;
    justify-content: space-around;
    color: white;
}

.Text-TwoA {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    box-shadow: 1rem 0rem 3rem 0.1rem rgb(18, 18, 18);
    background-color: rgba(27, 26, 26, 0.396);
    width: 30vw;
    height: 38vh;
    font-size: 1.5em;
    padding: 2rem 2rem 2rem 2rem;
    text-align: justify;
    color: white;
}

.Text-TwoB {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    box-shadow: 1rem 0rem 3rem 0.1rem rgb(18, 18, 18);
    background-color: rgba(27, 26, 26, 0.396);
    width: 30vw;
    height: 60vh;
    font-size: 1.7em;
    padding: 2rem 2rem 2rem 2rem;
    text-align: justify;
    color: white;
    position: relative;
    top: 60vw;
}

#SecTittle-Three {
    width: 100vw;
    height: 200vh;
    background-image: url("assets/protostar4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Paragraph-Three {
    display: flex;
    justify-content: space-around;
    width: 80vw;
}

.Text-Three {
    width: 30vw;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-left: 5.5rem;
    text-align: justify;
    color: white;
}

#SecTittle-Four {
    width: 100vw;
    height: 230vh;
    background-image: url("assets/jameswebb5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Tittle-Four {
    width: 25vw;
    height: 80vh;
    position: relative;
    left: -30vw;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5em;
    padding: 2rem 2rem 2rem 2rem;
    flex-wrap: wrap;
    text-align: left;
    color: white;
}

.Text-Four {
    position: relative;
    right: -30vw;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 1.5em;
    width: 40vw;
    padding: 2rem 2rem 2rem 2rem;
    text-align: right;
    color: white;
}

#SecTittle-Five {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/deep-space-header6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Tittle-Five {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    font-size: 5em;
    text-align: justify;
    color: white;
    margin-left: 1rem;
    width: 25vw;
}

.Paragraph-Five {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    width: 50vw;
}

footer {
    background-image: url("assets/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.Tittle-Footer {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    font-size: 2em;
    text-align: justify;
    color: white;
padding: 0 1rem 2rem 0 ;
}

.ContainerSlide {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

}

.slide-gallery {
    border: solid red;
    width: 80vw;
    height: 70vh;
    display: flex;
    overflow: scroll;
    /*    overflow: hidden;  seria para ver uma por vez mas nao funciona
  */
    position: relative;
    left: 0%;
    transition: left 2s;
    -webkit-transition: left 2s;
    /*internet explore*/
    -moz-transition: left 2s;
    /*firefox explore*/
    -o-transition: left 2s;
    /*opera explore*/

}

.ImageSlide {
    width: 80vw;
    height: 70vh;
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;

}
